name: Build Example

on: 
 workflow_dispatch:

jobs:
 build:
  runs-on: ubuntu-latest
  steps:
   - name: Checkout code
     uses: actions/checkout@v4
     
   - name: Use Node.js
     uses: actions/setup-node@v4
     with:
      node-version: '20.x'
   - run: npm install
   - run: npm ci
   - run: npm run build --if-present

   - name: Run tests and create report
     run: |
      mkdir -p test-report
      npm test > test-report/unit-tests.txt

   - name: Bundle app to zip
     run: zip -r app.zip . -x ".git/*"
   
   - name: Verification
     run: ls -alhR
